<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Sign Up</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="signUpForm">
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="firstname" type="text" placeholder="FirstName">
                                </div>
                            </div>
                            <small *ngIf="signUpForm.controls['firstname'].dirty && signUpForm.hasError('required','firstname')" class="text-danger">*Please enter your first name</small>                         
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="lastname" type="text" placeholder="LastName">
                                </div>
                            </div>
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2"></span>
                                    <input [(ngModel)]="userEmail" (ngModelChange)="checkValidEmail($event)"  formControlName="email" type="text" placeholder="Email">
                                </div>
                            </div>
                            <small *ngIf="!isValidEmail && userEmail" class="text-danger">*Invalid email*</small>
                            <small *ngIf="signUpForm.controls['email'].dirty && signUpForm.hasError('required','email')" class="text-danger">*Please enter your email</small>              
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2"></span>
                                    <input [(ngModel)]="userPhoneNo" (ngModelChange)="checkValidPhoneNo($event)" formControlName="phonenumber" type="text" placeholder="PhoneNumber">
                                </div>
                            </div>
                            <small *ngIf="!isValidPhoneNo && userPhoneNo&&isTenDigitPhoneNo" class="text-danger">*Enter 10 Digit PhoneNumber*</small>
                            <small *ngIf="!isTenDigitPhoneNo && userPhoneNo" class="text-danger">*Enter Only Numbers*</small>
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2"></span>
                                     <select formControlName="role">
                                        <option value='' disabled>Select Role</option>
                                        <option value="1">Admin</option>
                                        <option value="2">User</option>
                                     </select>
                                </div>
                            </div>
                            <small *ngIf="signUpForm.controls['role'].dirty && signUpForm.controls['role'].value=='' && signUpForm.hasError('required','role')" class="text-danger">*Please select role</small>                                              
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="username" type="text" placeholder="UserName">
                                </div>
                            </div>
                            <small *ngIf="signUpForm.controls['username'].dirty && signUpForm.hasError('required','username')" class="text-danger">*Username is required</small>
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-lock p-2"></span>
                                    <input formControlName="password" [type]="type" placeholder="Password">
                                    <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                                </div>
                            </div>
                            <small *ngIf="signUpForm.controls['password'].dirty && signUpForm.hasError('required','password')" class="text-danger">*Password is required</small>
                            <button (click)="onSignup()" type="submit" class="btn btn-primary btn-block mt-4 w-100">Sign Up</button>
                            <div class="text-center pt-4 text-muted">Already have account? <a id="forget" routerLink="/login">Login</a></div>
                        </form>
                    </div>                   
                </div>
            </div>
        </div>
    </div>
</div>
